<template>
  <div :class="['alert alert_' + alert.type, {'alert_active': alert.isActive}]">
    <span @click="closeAlert" class="alert__close">×</span>
    <p class="alert__message">{{ alert.text }}</p>
    <button v-if="alert.button.enable" @click="changeComponent('gameSettings')" class="btn btn_primary">{{ alert.button.text }}</button>
  </div>
</template>

<script>
export default {
  name: 'Alert',
  data() {
    return {}
  },
  props: ['alert'],
  methods: {
    closeAlert: function() {
      this.alert.isActive = false
    },

    changeComponent: function(name) {
      this.closeAlert()
      this.$store.commit('changeComponent', name)
    }
  }
}
</script>

<style lang="scss" scoped>
/* Styles */
@import '../../assets/scss/styles.scss';

.alert {
  color: #ffffff;
  left: 50%;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 0.5s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  visibility: hidden;
  width: 208px;
  &_active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
  &_success {
    background-color: $success-color;
    box-shadow: 0 4px darken($success-color, 10%);
  }
  &_info {
    background-color: $info-color;
    box-shadow: 0 4px darken($info-color, 10%);
  }
  &_warning {
    background-color: $warning-color;
    box-shadow: 0 4px darken($warning-color, 10%);
  }
  &_danger {
    background-color: $danger-color;
    box-shadow: 0 4px darken($danger-color, 10%);
  }
  &__message {
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 1rem;
  }
  &__close {
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    .alert_success & {
      background-color: darken($success-color, 10%);
      color: #ffffff;
    }
    .alert_info & {
      background-color: darken($info-color, 10%);
      color: #ffffff;
    }
    .alert_warning & {
      background-color: darken($warning-color, 10%);
      color: #ffffff;
    }
    .alert_danger & {
      background-color: darken($danger-color, 10%);
      color: #ffffff;
    }
  }
}
</style>
