/* Normalize */
@import '~normalize.css/normalize';

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  color: $body-color;
  font-family: 'Open Sans', sans-serif;
}
