.btn {
  border-width: 0;
  color: #fff;
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  .btn-group & {
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
  &_default {
    background-color: #82bd88;
    box-shadow: 0 4px darken(#82bd88, 10%);
  }
  &_primary {
    background-color: #82b7bd;
    box-shadow: 0 4px darken(#82b7bd, 10%);
  }
}
