/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin-ext');

h1,
h2,
h3 {
  font-family: 'Kaushan Script', cursive;
  margin-top: 0;
}
