/* Media queries */
$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;

/* Colors */
$body-color: #404040;
$success-color: #82bd88;
$info-color: #829abd;
$warning-color: #bda682;
$danger-color: #bd8882;
