<template>
  <section :class="['component settings', { 'component_active' : $store.state.components.gameSettings }]">
    <h2 class="settings__title">{{ text.title }}</h2>
    <h3 class="settings__option">{{ text.option }}</h3>
    <ul class="animals">
      <li v-for="(item, key) in animals" :class="['animals__item', { 'animals__item_active' : item.isActive }]" :key="key"><img :class="'animals__icon'" :src="item.url" :alt="item.name" :srcset="item.url2x + ' 2x'" :data-index="key" @click="selectAnimal($event)"></li>
    </ul>
    <alert :alert="alert"></alert>
    <div class="btn-group">
      <button @click="changeComponent('gameIntro')" class="btn btn_default">{{ text.button[0] }}</button>
      <button @click="validate" class="btn btn_primary">{{ text.button[1] }}</button>
    </div>
  </section>
</template>

<script>
import Alert from './shared/Alert'

import bear from '../assets/img/bear.png'
import bear2x from '../assets/img/bear@2x.png'
import beaver from '../assets/img/beaver.png'
import beaver2x from '../assets/img/beaver@2x.png'
import deer from '../assets/img/deer.png'
import deer2x from '../assets/img/deer@2x.png'
import fox from '../assets/img/fox.png'
import fox2x from '../assets/img/fox@2x.png'
import hare from '../assets/img/hare.png'
import hare2x from '../assets/img/hare@2x.png'
import hedgehog from '../assets/img/hedgehog.png'
import hedgehog2x from '../assets/img/hedgehog@2x.png'
import mouse from '../assets/img/mouse.png'
import mouse2x from '../assets/img/mouse@2x.png'
import raccoon from '../assets/img/raccoon.png'
import raccoon2x from '../assets/img/raccoon@2x.png'
import squirrel from '../assets/img/squirrel.png'
import squirrel2x from '../assets/img/squirrel@2x.png'

var animalsObj = [
  {
    name: 'bear',
    url: bear,
    url2x: bear2x,
    isActive: false
  },
  {
    name: 'beaver',
    url: beaver,
    url2x: beaver2x,
    isActive: false
  },
  {
    name: 'deer',
    url: deer,
    url2x: deer2x,
    isActive: false
  },
  {
    name: 'fox',
    url: fox,
    url2x: fox2x,
    isActive: false
  },
  {
    name: 'hare',
    url: hare,
    url2x: hare2x,
    isActive: false
  },
  {
    name: 'hedgehog',
    url: hedgehog,
    url2x: hedgehog2x,
    isActive: false
  },
  {
    name: 'mouse',
    url: mouse,
    url2x: mouse2x,
    isActive: false
  },
  {
    name: 'raccoon',
    url: raccoon,
    url2x: raccoon2x,
    isActive: false
  },
  {
    name: 'squirrel',
    url: squirrel,
    url2x: squirrel2x,
    isActive: false
  }
]

export default {
  name: 'GameSettings',
  components: { Alert },
  data() {
    return {
      text: {
        title: 'Game settings',
        option: 'Select animals',
        button: ['Back', 'Play']
      },
      animals: animalsObj,
      validation: {
        activeAnimals: 0
      },
      alert: {
        isActive: false,
        type: 'danger',
        text: 'You have to select at least two animals.',
        button: {
          enable: false,
          text: ''
        }
      }
    }
  },
  methods: {
    validate: function() {
      if (this.validation.activeAnimals >= 2) {
        this.changeComponent('gameBoard')
      } else {
        this.alert.isActive = true
      }
    },

    changeComponent: function(name) {
      this.$store.commit('changeComponent', name)
    },

    selectAnimal: function(event) {
      var index = event.target.dataset.index
      this.animals[index].isActive = !this.animals[index].isActive

      // Counting active animals
      if (this.animals[index].isActive) {
        this.validation.activeAnimals++
      } else {
        this.validation.activeAnimals--
      }

      this.selectedAnimals(index)
    },

    selectedAnimals: function(index) {
      this.$emit('selectedAnimals', this.animals[index])
    }
  }
}
</script>

<style lang="scss" scoped>
/* Styles */
@import '../assets/scss/styles';

.settings {
  background-color: #dadfb4;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 85%;
}
.animals {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
  @media (min-width: $media-breakpoint-md) {
    flex-wrap: nowrap;
  }
  &__item {
    cursor: pointer;
    flex: 0 0 33.33333%;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    @media (min-width: $media-breakpoint-md) {
      flex: auto;
    }
    @media (min-width: $media-breakpoint-lg) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &_active::after {
      background-color: #82bd88;
      background-image: url(../assets/img/check.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto 10px;
      border-radius: 50%;
      content: '';
      height: 1.5rem;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(50%, -150%);
      width: 1.5rem;
    }
  }
  &__icon {
    height: auto;
    max-width: 53px;
    @media (min-width: $media-breakpoint-md) {
      max-width: 100%;
    }
  }
}
</style>
