<template>
  <transition name="slide-out-up">
    <div v-if="$store.state.components.gamePreloader" class="preloader">
      <div :style="{'background-image': 'url(' + image.src + ')'}" class="preloader__icon preloader__icon_bounce"></div>
      <div class="preloader__icon-shadow preloader__icon-shadow_shrink"></div>
    </div>
  </transition>
</template>

<script>
import img from '../assets/img/owl.png'

export default {
  name: 'GamePreloader',
  data() {
    return {
      image: {
        src: img
      }
    }
  }
}
</script>

<style lang="scss" scoped>
$animation-duration: 0.5s;
$animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);

.slide-out-up-enter-active,
.slide-out-up-leave-active {
  transition-duration: 1.6s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
}

.slide-out-up-enter,
.slide-out-up-leave-to {
  transform: translateY(-100%);
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -70%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes shrink {
  0% {
    height: 0.5rem;
    width: 6rem;
  }
  100% {
    height: 1rem;
    width: 14rem;
  }
}

.preloader {
  background-color: #bac794;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  &__icon {
    background-color: #dadfb4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100px;
    border-radius: 50%;
    height: 12rem;
    left: 50%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform-origin: bottom;
    transform: translate(-50%, -50%);
    width: 12rem;
    z-index: 1;
    &_bounce {
      animation-direction: alternate;
      animation-duration: $animation-duration;
      animation-iteration-count: infinite;
      animation-name: bounce;
      animation-timing-function: $animation-timing-function;
    }
  }
  &__image {
    display: block;
    height: auto;
    max-width: 100%;
  }
  &__icon-shadow {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    bottom: 0;
    height: 1rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 90px);
    width: 12rem;
    &_shrink {
      animation-direction: alternate;
      animation-duration: $animation-duration;
      animation-iteration-count: infinite;
      animation-name: shrink;
      animation-timing-function: $animation-timing-function;
    }
  }
}
</style>
