<template>
  <section :class="['component intro', { 'component_active' : $store.state.components.gameIntro }]">
    <div class="intro__icon">
      <img :src="images.icon" :alt="images.iconAlt" :srcset="images.icon2x + ' 2x'">
    </div>
    <h1 class="intro__title">{{ text.title }}</h1>
    <p class="intro__description">{{ text.description }}</p>
    <button @click="changeComponent('gameSettings')" class="btn btn_primary">{{ text.button }}</button>
  </section>
</template>

<script>
import icon from '../assets/img/owl.png'
import icon2x from '../assets/img/owl@2x.png'

export default {
  name: 'GameIntro',
  data() {
    return {
      text: {
        title: 'Forest Animals',
        description: "It's just another simple game.",
        button: 'Game settings'
      },
      images: {
        icon: icon,
        icon2x: icon2x,
        iconAlt: 'Forest Animals'
      }
    }
  },
  methods: {
    changeComponent: function(name) {
      this.$store.commit('changeComponent', name)
    }
  }
}
</script>

<style lang="scss" scoped>
.intro {
  background-color: #dadfb4;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 85%;
  &__icon {
    img {
      width: 8rem;
    }
  }
  &__description {
    font-weight: 300;
  }
}
</style>
