<template>
  <div :class="['component board', { 'component_active' : $store.state.components.gameBoard }]">
    <ul :class="'animals-grid'" :data-grid-col="grid.col">
      <li v-for="(item, key) in randomSortedAnimals" :key="key" :class="'animals-grid__item'" :style="{height: grid.item.height + 'vh'}">

        <img v-if="!item.isActive" :class="'animals-grid__icon'" :src="coveredAnimal.url" :alt="coveredAnimal.name" :srcset="coveredAnimal.url2x + ' 2x'" :data-index="key" @click="showSelectedAnimal($event)">

        <img v-if="item.isActive" :class="'animals-grid__icon'" :src="item.url" :alt="item.name" :srcset="item.url2x + ' 2x'">

      </li>
    </ul>
    <alert :alert="alert"></alert>
    <button @click="changeComponent('gameSettings')" class="btn btn_default">Back to settings</button>
  </div>
</template>

<script>
import Alert from './shared/Alert'

import mushroom from '../assets/img/mushroom.png'
import mushroom2x from '../assets/img/mushroom@2x.png'

export default {
  name: 'GameBoard',
  components: { Alert },
  data() {
    return {
      alert: {
        isActive: false,
        type: 'info',
        text: 'Congratulations! You uncovered all fields with animals.',
        button: {
          enable: true,
          text: 'New game'
        }
      },
      checkedAnimal: {
        name: '',
        index: ''
      },
      clickEvent: true,
      component: {
        settings: {
          gameBoard: false,
          gameIntro: false,
          gamePreloader: false,
          gameSettings: true
        }
      },
      coveredAnimal: {
        name: 'mushroom',
        url: mushroom,
        url2x: mushroom2x
      },
      grid: {
        col: 0,
        item: {
          height: 0
        }
      },
      randomSortedAnimals: ''
    }
  },
  computed: {
    componentState: function() {
      return this.$store.state.components.gameSettings
    }
  },
  props: ['selectedAnimals'],
  watch: {
    componentState: function() {
      this.joinArrays()
      this.mediaQueryListListener()
    }
  },
  methods: {
    // Duplicate selected animals array
    joinArrays: function() {
      var duplicatedArray = []
      var animalObject

      for (var i = 0; i < 2; i++) {
        this.selectedAnimals.forEach(function(element) {
          animalObject = {
            name: element.name,
            url: element.url,
            url2x: element.url2x,
            isActive: false
          }
          duplicatedArray.push(animalObject)
        })
      }

      this.randomSort(duplicatedArray, duplicatedArray.length)
    },

    // Random sort animals objects inside an array (The Fisher–Yates shuffle algorithm. Modern method.)
    randomSort: function(array, arrayLength) {
      var randomInt
      var lastArrayElement
      var randomArrayElement

      for (var i = arrayLength - 1; i > 0; i--) {
        randomInt = Math.floor(Math.random() * (i - 0 + 1)) + 0
        lastArrayElement = array[i]
        randomArrayElement = array[randomInt]

        array[randomInt] = lastArrayElement
        array[i] = randomArrayElement
      }

      this.randomSortedAnimals = array
    },

    showSelectedAnimal: function(event) {
      var index = event.target.dataset.index
      if (this.clickEvent) {
        this.randomSortedAnimals[index].isActive = true

        //
        var nameOfSelectedAnimal = this.randomSortedAnimals[index].name
        this.checkPairOfSelectedAnimal(nameOfSelectedAnimal, index)
      }
    },

    checkPairOfSelectedAnimal: function(name, index) {
      var reference = this

      if (this.checkedAnimal.name === '' && this.checkedAnimal.index === '') {
        this.checkedAnimal.name = name
        this.checkedAnimal.index = index
      } else {
        this.clickEvent = false

        if (reference.checkedAnimal.name !== name) {
          setTimeout(function() {
            reference.randomSortedAnimals[index].isActive = false
            reference.randomSortedAnimals[reference.checkedAnimal.index].isActive = false

            reference.checkedAnimal.name = ''
            reference.checkedAnimal.index = ''
            reference.clickEvent = true
          }, 600)
        } else {
          this.checkedAnimal.name = ''
          this.checkedAnimal.index = ''
          this.clickEvent = true

          // Check are all fields uncovered
          this.checkAreAllFieldsUncovered()
        }
      }
    },

    checkAreAllFieldsUncovered: function() {
      var randomSortedAnimalsLength = this.randomSortedAnimals.length
      var isAllUncovered = true

      for (let i = 0; i < randomSortedAnimalsLength; i++) {
        if (!this.randomSortedAnimals[i].isActive) {
          isAllUncovered = !isAllUncovered
          break
        }
      }

      if (isAllUncovered) {
        this.alert.isActive = true
      }
    },

    mediaQueryListListener: function() {
      var reference = this
      var mql = window.matchMedia('(min-width: 576px)')
      var checkMediaQuery = function() {
        if (mql.matches) {
          reference.setDataGridValueAndItemHeight('desktop')
        } else {
          reference.setDataGridValueAndItemHeight('mobile')
        }
      }

      //
      checkMediaQuery()

      //
      mql.addListener(checkMediaQuery)
    },

    setDataGridValueAndItemHeight: function(device) {
      var randomSortedAnimalsLength = this.randomSortedAnimals.length
      // The grid height is x% of the screen height
      const GRID_HEIGHT = 60

      if (randomSortedAnimalsLength !== 0) {
        if (randomSortedAnimalsLength % 3 === 0) {
          if (device === 'desktop') {
            this.grid.col = randomSortedAnimalsLength / 3

            this.grid.item.height = 100 / 3 * GRID_HEIGHT / 100
          } else if (device === 'mobile') {
            this.grid.col = 3

            this.grid.item.height = 100 / (randomSortedAnimalsLength / 3) * GRID_HEIGHT / 100
          }
        } else if (randomSortedAnimalsLength % 2 === 0) {
          if (device === 'desktop') {
            this.grid.col = randomSortedAnimalsLength / 2

            this.grid.item.height = 100 / 2 * GRID_HEIGHT / 100
          } else if (device === 'mobile') {
            this.grid.col = 2

            this.grid.item.height = 100 / (randomSortedAnimalsLength / 2) * GRID_HEIGHT / 100
          }
        }
      }
    },

    changeComponent: function(name) {
      this.alert.isActive = false
      this.$store.commit('changeComponent', name)
    }
  }
}
</script>

<style lang="scss" scoped>
/* Styles */
@import '../assets/scss/styles';

.board {
  background-color: #dadfb4;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 85%;
}

.animals-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 0 1rem;
  padding: 0;
  &__item {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    padding: 0.5rem;

    @for $i from 2 through 8 {
      [data-grid-col='#{$i}'] & {
        flex: 0 0 calc(100% / #{$i});
      }
    }
  }
  &__icon {
    max-width: 100%;
    max-height: 100%;
  }
}
</style>
