<template>
  <main>
    <game-preloader></game-preloader>
    <game-intro></game-intro>
    <game-settings @selectedAnimals="addRemoveSelectedAnimals"></game-settings>
    <game-board :selectedAnimals="selectedAnimals"></game-board>
  </main>
</template>

<script>
import GamePreloader from './components/GamePreloader'
import GameIntro from './components/GameIntro'
import GameSettings from './components/GameSettings'
import GameBoard from './components/GameBoard'
import store from './store/index'

export default {
  name: 'Game',
  components: { GamePreloader, GameIntro, GameSettings, GameBoard },
  store: store,
  data() {
    return {
      selectedAnimals: []
    }
  },
  created: function() {
    this.hideGamePreloader()
  },
  methods: {
    hideGamePreloader: function() {
      var reference = this
      setTimeout(function() {
        reference.$store.commit('changeComponent', 'gameIntro')
      }, 3000)
    },

    addRemoveSelectedAnimals: function(obj) {
      if (obj.isActive) {
        this.selectedAnimals.push(obj)
      } else {
        var reference = this
        this.selectedAnimals.forEach(function(item, index) {
          if (obj.name === item.name) {
            reference.selectedAnimals.splice(index, 1)
          }
        })
      }
    }
  }
}
</script>

<style lang="scss">
/* Styles */
@import './assets/scss/styles';

main {
  background-color: #bac794;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.component {
  left: 50%;
  opacity: 0;
  padding: 2rem 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transition-duration: 0.5s;
  transition-property: opacity, transform, visibility;
  transition-timing-function: cubic-bezier(0.17, 0.84, 0.44, 1);
  visibility: hidden;
  &_active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
}
</style>
